/* Sidebar */
.sidebar {
    width: 20%; /* Đã điều chỉnh để sidebar rộng hơn */
    background-color: #f5f7f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    border-bottom: 0.5px solid grey;
    display: flex;
    color: #025864;
    margin-bottom: 15px;
  }
  
  .sidebar p {
    font-size: 12px; /* Tăng cỡ chữ một chút cho dễ đọc */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(144, 144, 144);
    margin-bottom: 15px;
  }
  
  .sidebar .control li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .sidebar .control li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px; /* Thay đổi margin để căn chỉnh đẹp hơn */
    padding: 8px;
    border-radius: 5px;
  }
  
  .sidebar .control li a:hover {
    background-color: #e0e0e0; /* Màu nền khi hover */
    box-shadow: 3px 0 3px #b2b3b4;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sidebar .setting {
    padding-top: 50px; /* Giảm khoảng cách trên */
    border-top: 0.5px solid grey;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .setting li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .sidebar .setting li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
  }
  
  .sidebar .setting li a:hover {
    background-color: #e0e0e0;
    box-shadow: 3px 0 3px #b2b3b4;
    padding-right:5px;
    padding-left:5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Account */
  .sidebar .account {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 220px; /* Giới hạn chiều rộng để tránh quá rộng */
  }
  
  .sidebar .account .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid #4CAF50;
  }
  
  .sidebar .account .accountInfo {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .account .username {
    font-size: 0.6rem;
    font-weight: bold;
    color: #333;
  }
  
  .sidebar .account .email {
    font-size: 0.6rem;
    color: #777;
    margin-top: 5px;
  }
  